<div class="container">
    <h1>Card Shuffler</h1>

    <div class="top-section">
        <div class="controls-container">
            <label for="numberOfPlayers">Input number of users</label>
            <input
                type="number"
                id="numberOfPlayers"
                [(ngModel)]="numberOfPlayers"
            />
            <div *ngIf="numberOfDecks > 1">
                <i>
                    {{ numberOfDecks - 1 }} extra decks added.
                </i>
            </div>


            <label for="numberOfCardsEach">Input number of cards for each user</label>
            <input
                type="number"
                id="numberOfCardsEach"
                [(ngModel)]="numberOfCardsEach"
            />
            <i>
                Chosing 0 will revert to default poker rules
            </i>
    
    
        </div>

        <div class="info-container">
            <p >
                Welcome!
                <br><br>
                Automatically the system will follow rules of poker distribution. Override the number of cards for each player and the system will open packs till the required number is reached. 
                
            </p>
        </div>
            
        <div class="buttons-container">
            <button class="reset-button" (click)="collectCards()">&#8635; RESET </button>
            <button class="run-button" (click)="run()">&#9654; RUN </button>
        </div>
    
    </div>
    
    

    <div *ngIf="players.length > 0" class="players-container">
        <div *ngFor="let player of players">
            <h3>{{ player.name }}'s cards:</h3>

            <div class="cards-container">
                <div *ngFor="let card of player.cards; let i = index" class="playing-card" [class.red-card]="card.suit == 'Hearts' || card.suit == 'Diamonds'" [@stagger]="i">
                    <div class="top-left">
                        {{
                            card.suit == "Hearts"
                                ? "&#9829;"
                                : card.suit == "Diamonds"
                                ? "&#9830;"
                                : card.suit == "Clubs"
                                ? "&#9827;"
                                : "&#9824;"
                        }}
                    </div>

                    <div class="center">
                        <p>{{card.rank}}</p>
                    </div>

                    <div class="bottom-right">
                        {{
                            card.suit == "Hearts"
                                ? "&#9829;"
                                : card.suit == "Diamonds"
                                ? "&#9830;"
                                : card.suit == "Clubs"
                                ? "&#9827;"
                                : "&#9824;"
                        }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
