<div class="container">
    <h1>Card Shuffler</h1>

    <div class="controls-container">
        <label for="numberOfPlayers">Input Number of Users:</label>
        <input
            type="number"
            id="numberOfPlayers"
            [(ngModel)]="numberOfPlayers"
        />
        <div class="buttons-container">
            <button class="reset-button" (click)="collectCards()">RESET</button>
            <button class="run-button" (click)="run()">RUN</button>
        </div>

        <div *ngIf="numberOfDecks > 1">
            <i>
                {{ numberOfDecks - 1 }} extra decks added (too many players).
            </i>
        </div>
    </div>

    <div *ngIf="players.length > 0" class="players-container">
        <div *ngFor="let player of players">
            <h3>{{ player.name }}'s cards:</h3>

            <div class="cards-container">
                <div *ngFor="let card of player.cards; let i = index" class="playing-card" [class.red-card]="card.suit == 'Hearts' || card.suit == 'Diamonds'" [@stagger]="i">
                    <div class="top-left">
                        {{
                            card.suit == "Hearts"
                                ? "&#9829;"
                                : card.suit == "Diamonds"
                                ? "&#9830;"
                                : card.suit == "Clubs"
                                ? "&#9827;"
                                : "&#9824;"
                        }}
                    </div>

                    <div class="center">
                        <p>{{card.rank}}</p>
                    </div>

                    <div class="bottom-right">
                        {{
                            card.suit == "Hearts"
                                ? "&#9829;"
                                : card.suit == "Diamonds"
                                ? "&#9830;"
                                : card.suit == "Clubs"
                                ? "&#9827;"
                                : "&#9824;"
                        }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
