<div class="container">
    <h1>Card Shuffler</h1>

    <div class="controls-container">
        <label for="numberOfPlayers">Input Number of Users:</label>
        <input
            type="number"
            id="numberOfPlayers"
            [(ngModel)]="numberOfPlayers"
        />
        <div class="buttons-container">
            <button class="reset-button" (click)="collectCards()">RESET</button>
            <button class="run-button" (click)="run()">RUN</button>
        </div>

        <div *ngIf="numberOfDecks > 1">
            <i>
              {{numberOfDecks - 1}} extra decks added (too many players).
            </i>
        </div>
    </div>

    <div *ngIf="players.length > 0" class="players-container">
        <div *ngFor="let player of players">
            <h3>{{ player.name }}'s cards:</h3>

            <ul>
                <li *ngFor="let card of player.cards">
                    {{ card.rank }} of {{ card.suit }}
                </li>
            </ul>
        </div>
    </div>
</div>
